h1{
    background: #ffc947;
    /* margin-left: 52px;
    margin-bottom: 70px; */

    /* margin: 45px; */

    /* margin: 200px 100px; derecha izquierda */

    margin: 70px 40px 80px 85px;

}

p{
    background: #867ae9;
    padding: 20px 50px 60px 100px;
}