*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre{
    display: flex;
    flex-flow: column nowrap;   
}

.header{
    background:black;
    display: flex;
    flex-flow: column nowrap;  
}
    .menu{
        background:slategrey;
        display: flex;
        flex-flow: row nowrap;
        height:100px;
        align-items: center;
    }
        .logo{
            background:orangered;
            flex: 1 1 auto;
            height:30px;
        }
        .nav{
            background:orangered;
            flex: 5 1 auto;
            height:30px;
        }
        .social{
            background:orangered;
            flex: 1 1 auto;
            height:30px;
        }

        .texto-principal{
            background:orange;
        }
            h1{
                background:yellow;
            }

.section{
    background:black;
    display: flex;
}
    .articulos{
        background:violet;
        flex: 2 1 auto;
        display: flex;
        flex-flow:row wrap;
    }
        .article{
            background:blue;
            flex: 1 1 40%;
        }
        .navegacion{
            background:gray;
            flex: 1 1 100%;
        }

    .aside{
        background:red;
        flex: 1 1 auto;
    }
        .publicidad{
            background:green;
        }

.footer{
    background:black;
    display: flex;
    justify-content: center;

}
    .pie{
        background: gray;
        width:300px;
    }


@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content:center;
    }
}


@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}


@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }

}